h1 {
    text-align: center;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
  }
  
  .product-item {
    text-align: center;
  }
  
  .product-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  .product-item h3 {
    margin: 10px 0;
  }
  
  .product-item p {
    margin-bottom: 5px;
  }
  
  .product-item a {
    display: block;
    padding: 5px 10px;
    background-color: #ff9800;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  